/* 
  background : #FDFFFC
  background-light : #28402F
  gray : c5c6c7;
  font  66Fcf1;
  font-dark #45a29e
*/

*  {
  padding: 0px;
  margin:0px;
}

body {
  background: #FDFFFC;
  color : #66fcf1;
  font-size: 16px;
}

.app-Header {
  background: #28402F;
  padding: 10px 10px 20px;
  display: flex;
  height: 75px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.app-Main {
  height: calc(100vh - 100px);
  margin: 10px 0px;
  display: flex;
  position: relative;
}

.app-Main-ChartsView{
  width:100%;
  height: 100%;
  margin: 0px 10px;
}
/* 
#chart-ex {
  max-width : 90%;
  max-height: 90%;
} */

.app-hamburger{
  position: absolute;
  background: #FDFFFC;
  padding: 5px;
  height: 25px;
  width:25px;
  vertical-align: text-top;
  bottom: 20px;
  left : 10px;
  border-radius: 50%;
  font-size: 1.2em;
  line-height: 1.2;
}

.app-hamburger>*{
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.app-Footer {
  background: #28402F;  
  height: 25px;
  text-align: center;
}

.app-UserLogout {
  margin-top : 10px;
}

.app-Main-SideNav{
  background: #28402F;
  transition: transform 0.5s;
  transform: translateX(-300px);
  width: 250px;
  height: 100%;
  margin: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0px;
  text-align: center;
  position: absolute;
  z-index: 99;
}

.app-Main-SideNav-Search {
  width: 100%;
  margin : 10px 0px;  
}

.app-Main-SideNav-Search input {
  width: 90%;
  background: #FDFFFC;
  border : 0px;
  padding : 10px 5px;
  color : #66fcf1;
}

.app-Main-SideNav.open {
  transform: translateX(0px);
}


.app-UserLogout-Logout {
  font-size: 0.8em;
  display: block;
  cursor: pointer;
  color: #c5c6c7;
  text-decoration: underline;
}

.app-LoginSignUp{
  display: flex;
  justify-content: center;
}
.app-LoginSignUp>*{
  padding: 10px;
  font-weight: bold;
  margin: 1px;
  width: 100px;
  border: 0px;
  background: #FDFFFC;
  color : #66fcf1;
  cursor: pointer;
}

.app-LoginSignUp>*:hover{
  transform: translateY(1px);
}

.app-Header-side{
  position: relative;
}

.app-LoginSignUp-SignUp{
  background: #66fcf1;
  color : #FDFFFC;
}

@media screen and (min-width:480px){
  body {
    font-size: 18px;
  }
  
}


@media screen and (min-width:786px){
  body {
    font-size: 22px;
  }


  .app-Header {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 75px;
  }

  .app-Main-SideNav {
    position: static;
    transform: translateX(0px);  
  }

  .app-hamburger{
    display: none;
  }
  
}


